.perch {
  height: 300px;
  width: 300px;
  background-color: blue;
}

.static {
  position: static;
  width: 300px;
  height: 300px;
  background-color: #a7a7a7;
}

.absolute {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: yellowgreen;
  left: 100px;
}

.button_command {
  flex: 1;
  border: 1px solid red;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  outline-style: none;
}
